body{
    background-image: url("./resources/bg-overlay.png"), url("./resources/bg.jpg");
    background-position: center;
}
#icon{
    width: 100%;
    text-align: center;
    margin-top: 200px;
    >svg{
        width: 10%;
    }
}

#title{
    margin-bottom: 50px;
    h1{
        text-transform: uppercase;
        color: white;
        text-align: center;
        letter-spacing: 3px;
    }
}
#intro{
    margin-bottom: 50px;
    p{
        color: white;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 50px;
    }
    a{
        color: white;
        cursor: pointer;
        &:hover{
            color: red;
        }
    }
}

#buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    button{
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
        text-align: center;
        padding: 20px 0;
        cursor: pointer;
        &:hover{
            background-color: #1a191981;
        }
    }
}
.content{
    display: none;
}
#work, #about, #contact{
    img{
        width: 100%;
    }
    p{
        color: white;
    }
}

@media (min-width: 992px){
    #intro{
        p{
            text-align: center;
        }
    }
    #buttons{
        flex-direction: row;
        justify-content: center;
        >button{
            padding:15px 60px;
        }
    }
    #tabs{
        display: flex;
        flex-direction: column;
    }
}